// socar-default color
$socar-white: #ffffff;

$socar-grey-01: #f7f8f9;
$socar-grey-02: #000000;
$socar-grey-03: #c5c8ce;
$socar-grey-04: #646f7c;
$socar-grey-05: #374553;
$socar-grey-06: #28323c;
$socar-grey-07: #161d24;

$socar-black: #000000;

$socar-blue-01: #00c3ff;
$socar-blue-02: #00b8ff;

$socar-red-01: #ff2c51;
$socar-red-02: #e3183c;

$socar-yellow-01: #fff028;
$socar-yellow-02: #ffd324;

$socar-navy-01: #0069ff;

$socar-darknavy-01: #004682;

$socar-coral-01: #ff6f61;